<%- include("header") -%>
<h2>This is a to-do-list made by Rajkuvarjit Singh.</h2>
<p>You can use it to set daily goals, and stay accountable by checking the things you already did.</p>
<h4>Hope you have a great day!.</h4>
<%- include("footer") -%>
